* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #074d8f;
  color: #fff;
  padding: 10px 0;
}

aside {
  flex-basis: 30%;
  padding: 0 5px;
}

#wrapper,
#forecast {
  display: flex;
  flex: 1;
}

#search-input {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
}
button {
  outline: none;
  border: none;
  width: 100%;
  cursor: pointer;
  padding: 8px;
  border-radius: 3px;
}
#search-button {
  background-color: #0770d2;
  color: #fff;
  margin: 8px 0;
}
#forecast {
  justify-content: space-between;
  gap: 10px;
}
#today {
  border: 1px solid #000;
  margin-bottom: 8px;
}
.forecast-container {
  flex: 1;
  padding: 5px;
}

#forecast .card {
  display: flex;
  flex-direction: column;
  background-color: rgb(42, 42, 73);
  color: #fff;
  padding: 10px;
  min-width: 180px;
  height: 220px;
  gap: 10px;
}

#history {
  display: flex;
  flex-direction: column;
}

#history button {
  background-color: rgb(165, 155, 155);
  margin: 5px 0;
  list-style: none;
  padding: 8px;
  text-align: center;
}
.hide {
  display: none;
}
